<div style="background-color: {{ fields.block_example_bg_color }}" id="{{ attributes.anchor|default(attributes.id) }}">
	<h1>
		{{ fields.block_example_title }}
	</h1>
	<h2>
		{{ fields.block_example_subtitle }}
	</h2>
	<p>
		{{ fields.block_example_intro }}
	</p>

	{% if fields.block_example_image %}
		<img src="{{ fields.block_example_image.url }}" alt="{{ fields.block_example_image.alt }}" />
	{% endif %}

	{% if fields.block_example_list %}
		<ul>
			{% for field in fields.block_example_list %}
				<li>
					<h4>
						{{ field.list_text }}
					</h4>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% dump fields %}
